<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>
   
  <!-- jQuery UI -->
  <link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
  <script
   src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" >
  </script>
   
  <!-- jQuery-timepicker -->
  <link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css" />
  <script
   src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js" >
  </script>
  
  <!-- moment.js -->
  <script
  	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" >
  </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
  
  <style type="text/css">
  	form .row {
		margin-top: 10px;  	
  	}
  </style>
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<div class="row">
	<div class="col-md-12">
		As you fill in data, a blank row will be added.	
	</div>
</div>
<form role="form" id="form-holder">
	<div class="row">
		<div class="col-md-12">
			<label for="#brevet-dist">Brevet Distance:</label>
			<select name="brevet" id="brevet-dist">
				<option value="200">200 km</option>
				<option value="400">400 km</option>
				<option value="600">600 km</option>
				<option value="1000">1000 km</option>
				<option value="1300">1300 km</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="#start-date">Starting Date/Time:</label>
			<input type="text" name="start-date" id="start-date" />
			<input type="text" name="start-time" id="start-time" />
		</div>
	</div>
	<div class="row alert alert-danger" id="error-alert">
		<div class="col-md-12" id="error-content">
			There is no final control point.
		</div>
	</div>
	<div class="row form-row">
		<div class="col-md-2">
			<span class="form-control">0 (Start)</span>
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control" name="location" placeholder="Location (Optional)" />
		</div>
		<div class="col-md-4">
			<span class="times form-control">(times)</span>
		</div>
	</div>
	
	<div class="row form-row">
		<div class="col-md-2">
			<input type="text" class="form-control" name="km" placeholder="Distance (km)"/>
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control" name="location" placeholder="Location (Optional)" />
		</div>
		<div class="col-md-4">
			<span class="times form-control">(times)</span>
		</div>
	</div>
</form>

<script type="text/javascript">
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	
	$(document).ready(function(){
		// Time inputs
		var $s_date = $('#start-date');
		var $s_time = $('#start-time');
		$s_date.datepicker();
		$s_time.timepicker({orientation: 'bl'});
		
		// Time stuffs
		var s_now = moment();
		$s_date.datepicker('setDate', s_now.format('MM/DD/YYYY'));
		$s_time.timepicker('setTime', s_now.toDate());
		var s_date = $s_date.datepicker('getDate');
		var s_time = $s_time.timepicker('getTime', s_date);
		var start_time = moment(s_time).format();
		function updateTimes() {
			// Update the first row specifically since it doesn't have an input field
			updateTime($first_row, '0', true);
			// Update the non-empty things (won't add row on accident)
			$('input[name="km"]').filter(function() {
				return $(this).text().length > 0;
			}).trigger('change');
		}
		$s_time.on('change', function() {
			s_time = $s_time.timepicker('getTime', s_date);
			start_time = moment(s_time).format();
			updateTimes();
		});
		$s_date.on('change', function() {
			s_date = $s_date.datepicker('getDate');
			$s_timer.trigger('change');
		});
		
		// Brevet distance stuffs
		var $brevet = $('select[name="brevet"]');
		var brevet = $brevet.val();
		$brevet.on('change', function() {
			brevet = $(this).val();
			updateTimes();
		});
		
		// For displaying errors
		var $error = $('#error-alert');
		var $error_cont = $error.find('#error-content');
		function showError(e) {
			$error_cont.text(e);
			$error.show();
		}
		
		// Formatting time
		function formatTime(m) {
			return moment(m).format('MM/DD/YYYY HH:mm');
		}
		
		// Function to be called when distance field changes
		function updateTime(el, val, override) {
			var e_km = (override ? val : $(this).val()).trim();
			var row = (override ? el : $(this).parents(".row"));
			var tar = row.find(".times");
			row.removeClass('has-error');
			
			// See if there is a final checkpoint
			var goal_reached = $form.find('input[name="km"]').filter(function() {
				try {
					return parseInt($(this).val()) >= brevet;
				} catch(e) {
					return false;
				}
			}).length > 0;
			if(goal_reached) {
				$error.hide();
			} else {
				$error.show();
			}
			
			// No input
			if(e_km.length == 0) {
				tar.text('(times)');
				return;
			}
			
			// Only request with valid input
			var km = parseInt(e_km);
			if(!override && (isNaN(km) || km <= 0)) {
				tar.text('Please enter a positive integer');
				row.addClass('has-error');
			} else {
				// AJAX request
				$.getJSON($SCRIPT_ROOT + '/_calc_times', { km: km, brevet: brevet, start: start_time },
					function(data) {
						if(data.result) {
							var times = data.result;
							tar.text(formatTime(times[0]) + ' to ' + formatTime(times[1]));
						} else if(data.error) {
							tar.text(data.error);
							row.addClass('has-error');
						}
					}
				);
			}
		};  // End of the function to be called when field changes
		
		// Get the times for the first check point
		var $form = $('#form-holder');
		var $first_row = $form.find('.form-row:first');
		updateTime($first_row, '0', true);
		
		// Get the last row
		var $last_row = $form.find('.form-row:last');
		$last_row.find('input').val('');
		$last_row.find('input[name="km"]').on('change', updateTime);
		
		// Can add rows later when user fills in last empty row
		var $blank_row = $last_row.clone();
		function addRow() {
			var $new_row = $blank_row.clone();
			$new_row.find('input[name="km"]').on('change', updateTime);
			$form.append($new_row);
			return $new_row;
		}
		
		// Make a new row every time the last one is changed
		function keepOneEmpty() {
			var $par = this ? $(this).parent() : undefined; 
			if($par) {
				$par.find('input').off('change', keepOneEmpty);
			}
			var $new_row = $par;
			$new_row = addRow();
			$new_row.find('input').on('change', keepOneEmpty);
		}
		keepOneEmpty();
	});
</script>

</div>
</body> </html>
